.home-page-wrapper {
  background-color: #fbfbfb;
  color: #111;

  .section-container {
    margin-top: 15vh;
  }

  .home-map-container {
    position: sticky;
    top: 15vh;
    right: 0;
    height: calc(100vh - 15vh);
  }

  .home-card-section-container {
    .main-heading {
      color: #333;
      font-size: 24px;
      font-weight: 500;
    }

    // .sort-column {
    //   position: relative;
    //   text-align: right;
    // }

    /* dd sort menu*/
    .sort-menu {
      font-size: 16px;

      label {
        flex: none;
        padding-right: 50px;

        select {
          border: none;
          max-width: 150px;
          cursor: default;
          background: none;
          // border: none;
          // outline: none;
          font-weight: 500;

          option {
            background: #c8e9d7 !important;
            color: black !important;
            font-weight: 500 !important;
            padding: 10px 8px !important;

            border-bottom: 1px solid #ddd !important;
          }
        }
      }
    }
  }

  .home-sidebar-container {
    padding: 0px 2.2rem;
    position: sticky;
    top: 15vh;
    height: calc(100vh - 15vh);

    .siderbar {
      max-height: calc(100vh - 30vh);
    }

    .close-icon {
      cursor: pointer;

      &:hover {
        color: gray;
      }
    }

    .bl {
      border-bottom: 1px solid lightgrey;
    }

    a {
      text-decoration: none;
      color: #0099cc;
      font-size: 14px;
      margin: 2px 0px;
      font-weight: 500;

      &:hover {
        color: #218cff;
      }
    }

    .filter-text {
      color: #009688;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: -1px;
    }

    ul {
      padding: 0;
      margin: 12px 0px;
      li {
        list-style-type: none;
        background: #e1eae6;
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 10px;
        display: inline-block;
        font-size: 13px;

        .icon {
          font-size: 20px !important;
          cursor: pointer;

          &:hover {
            fill: grey;
          }
        }
      }
    }

    // @keyframes "check" {
    //   50% {
    //     transform: scale(1.2);
    //   }
    // }
    .checkboxes-container {
      p {
        font-size: 18px;
        font-weight: 500;
        padding-top: 10px;
      }

      .menu-item {
        margin-bottom: 14px;

        .cbx {
          height: 20px !important;
          width: 20px !important;
          border-radius: 50% !important;
          border: 1px solid #b9b8c3 !important;
          overflow: hidden;
        }

        .cbx-icon {
          height: 22px !important;
          width: 20px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          background-color: #009688;
          border-radius: 50%;
        }
      }
    }
  }
}
