.app-cpn-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #eeeeef;

  .overlay {
    position: absolute;
    top: 16vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 999;
  }

  .ifs {
    font-size: 10px !important;
    font-weight: 500;
  }

  .header-top {
    padding-top: 3px;
    .header-logo {
      padding: 5px;
      cursor: pointer;
      width: 250px;
      height: 56px;
      object-fit: contain;

      &:hover {
        opacity: 0.6;
      }
    }
    .dropdown-container {
      .search-fields {
        padding: 4px;
        width: 100% !important;
        max-width: 725px;
        // font-size: 1rem
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #b1cedf;
        border-radius: 0.25rem;

        .dropdown {
          display: flex;
          align-items: center;
          &:first-child {
            border-right: 1px solid #b1cedf;
          }
          &:last-child {
            padding-left: 5px;
          }
          input {
            border: none;
            outline: none;
            width: 97%;
            padding: 0.4rem;

            &:focus {
              outline: none;
            }
          }

          .dropdown-content {
            position: absolute;
            top: 42px;
            display: none;
            width: 98%;
            min-width: 180px;
            min-height: 100px;
            background: #ffffff;
            font-size: 16px;
            z-index: 1;
            border-radius: 0.25rem;
            flex-direction: column;
            text-align: left;
            box-shadow: 0px 5px 28px -20px #000000bf;
            border-bottom: 5px solid #ddf0f3;
            padding: 8px 6px;

            a {
              text-decoration: none;
              display: block;
              padding: 10px 14px;
              width: 100%;
              color: #495057;
              border-bottom: 1px solid transparent;

              &:hover {
                background-color: #f9f9f9;
                border-radius: 5px;
                color: #24abd2;
                border-bottom: 1px solid skyblue;
              }
            }
          }

          .open-search-fields-content {
            display: block;
          }
        }
      }
    }

    .btn-1 {
      border: 1px solid #6bb8c7;
      color: #6bb8c7;
      text-transform: uppercase;
      font-size: 15px;
      padding: 5px 14px;
      font-weight: 500;

      &:hover {
        background-color: #6bb8c7;
        color: #ffffff;
      }
    }
    .btn-2 {
      border: 1px solid #0ea6bd;
      background: #24abd2;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      margin-left: 1rem;
      padding: 5px 14px;
      font-weight: 500;

      &:hover {
        background-color: #6bb8c7;
      }
    }
  }

  .header-bottom {
    margin: 0;
    padding: 0;
    .nav-menu {
      width: 60%;
      margin-bottom: 0;
      li {
        list-style-type: none;
        font-size: 15px;
        color: #0099cc !important;
        padding-bottom: 12px;
        border-bottom: 4px solid transparent;
        margin-bottom: -3px;

        &:hover {
          transition: all 0.3s ease;
          border-bottom: 4px solid #24abd2;
        }

        a {
          text-decoration: none;
          display: inline-block;
          color: #0099cc;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;

          &:hover {
            color: #007bff !important;
          }
        }

        .dropdown {
          position: relative;
          // display: inline-block;
          color: #0099cc !important;

          &:hover {
            .dropdown-content {
              display: block;
            }
            .dropbtn {
              background-color: transparent;
            }
          }

          .dropbtn {
            background-color: transparent;
            color: #0099cc;
            font-size: 16px;
            border: none;
          }

          .dropdown-content {
            position: absolute;
            display: none;
            top: 30;
            min-width: 180px;
            min-height: 100px;
            background: #f1f1f1;
            font-size: 14px;
            z-index: 1;
            border-radius: 0.25rem;
            flex-direction: column;
            box-shadow: 0 0 18px #00000026;
            border-bottom: 4px solid #24abd2;
            text-align: left;
            border-radius: 5px;

            a {
              text-decoration: none;
              display: block;
              padding: 8px 10px;
              border-bottom: 1px solid #ddd;
              width: 100%;

              &:hover {
                color: #009688 !important;
              }
            }
          }
        }
      }
    }
  }
}
