$global-muted-text: #6c757d;
$dark-blue-color: #007bff;
$link-color: #0099CC;
$aqua-color: #24abd2;
$green-color: #91b192;
$dark-green: #009688;
$header-color: #f3f9f8;
$building-color: #d88639;
$lodging-color: #5691e4;
$food-color: #ef4e1b;
$agriculture-color: #d82b4e;
$tourism-color: #b145ae;
$enviroment-color: #8bc34a;
$retailer-color: #47c58e;
$work-color: #f94d0f;

$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1300px;
$xxl: 1600px;
$mxl: 1800px;
